**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
test = input("enter any string ")
result = len(test)
print(result)

In [ ]:
test = input("enter any string ")
c= 0
for i in test:
  c +=1
print(c)

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
def slice_right_left(test):
  left = test[:2]
  right = test[-2:]
  result = left + right
  return result
slice_right_left("bashar")

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
s=input("enter string")
r = len(s)
if r<2:
    print(s)
if s[-3:]=='ing':
    result = s.replace('ing','ly')
    print (result)
else:
    print(s+'ing')

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:

def find_longest_word(words):
    longest = ""
    for word in words:
        if len(word) > len(longest):
            longest = word
    return longest, len(longest)

words_list = ["Python", "Exercises", "Examples", "Function"]
find_longest_word(words_list)

('Exercises', 9)

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
def add_efirst_elast(word):
   return 'e'+word[1:-1]+'e'
add_efirst_elast("bashar")

In [ ]:
def add_efirst_elast(word):
   result = list(word)
   result[:1] = 'e'
   result[-1:] = 'e'
   return ''.join(result)
add_efirst_elast("bashar")

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
def remove_char(word):
  return word[::2].remove()
remove_char("bashar")

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
def count_repeated_chars(text):
    words=text.lower().split()
    occure ={}
    for i in words:
      if i in occure:
        occure[i]+=1
      else:
        occure[i]=1
    for key,value in occure.items():
        if value>1:
          return key,value
count_repeated_chars("bashar abdall bashar")

('bashar', 2)

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
input1 = input()
print(input1.upper())

In [ ]:
input1 = input()
print(input1.lower())

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def revrese_string(string):
  if len(string) % 4 == 0:
    return string[::-1]
  else:
    return string
revrese_string("bashar")

**10- Write a Python program to remove a newline in Python

In [ ]:
print("\n bahsar".strip())

bahsar

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
def star_with(word,specific):
    if word.startswith(specific):
      print("exist")
    else:
      print("not exist")

star_with("bashar ali ahemd","bashar")

exist

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
def add_prefix_to_lines(text, prefix):
    lines = text.splitlines()
    modified_lines = [prefix + line for line in lines]
    return "\n".join(modified_lines)
text = input("")

prefix = "bashar: "
result = add_prefix_to_lines(text, prefix)

print("Modified Text:\n")
print(result)

ahemd. ali
Modified Text:

bashar: ahemd. ali

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
number = input("enter number")
result = float(number)
print(round(result,2))
print()

**14-Write a Python program to print the following numbers up to 2 decimal places with a

In [ ]:
number = input("enter number")
result = float(number)
print(round(result,2))
print()

**15-Write a Python program to display a number with a comma separator

In [ ]:
number = input("enter the string")
try:
    number_float = float(number)
    print(f"{number_float:,.2f}")
except ValueError:
    print("Invalid input. Please enter a number.")

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
number = input("enter the string")
print(number[::-1])

In [ ]:
number = input("enter the string")
result = list(number)
result.reverse()
print(''.join(result))

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
def count_repeated_chars(text):
    char_count = {}

    for char in text:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

    for char, count in char_count.items():
        if count > 1:
            print(f"'{char}': {count} times")

input_string = input("Enter a string: ")
count_repeated_chars(input_string)

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
number = input("enter the string ")
for i in number:
  if number.count(i) == 1:
    print(i)
    break

**19-Write a Python program to remove spaces from a given string

In [ ]:
remove_space = input()
result = print(remove_space.replace(" ",""))

bashar abda
basharabda

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
def count_non(s):
  n = len(s)
  return n*(n+1)//2
count_non("bashar")

21

**21-write a Python program to swap first and last element of any list.

In [ ]:
n = list(input())
n[0],n[-1] = n[-1],n[0]
print(''.join(n))

1 2 3
3 2 1

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
def find(n,pos1,pos2):
  n[pos1],n[pos2] = n[pos2],n[pos1]
  return n

find([1,2,3],0,1)

[2, 1, 3]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
print(max([1,2,3]))

3

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
print(min([1,2,3]))

1

**26-search for if an elem is existing in list

In [ ]:
def el(lst,elm):
  if elm in lst:
    print("exist")
  else:
    print("not")
el([1,2,3],2)

exist

**27- clear python list using different ways

In [ ]:
print([3,4,5].clear())

None

**28-remove duplicated elements from a list

In [ ]:
result = set([1,1,1,2])
print(result)

{1, 2}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:

a = [10, 20, 30]

b = {index: value for index, value in enumerate(a)}
print(b)

{0: 10, 1: 20, 2: 30}

**30-write a python program to count unique values inside a list using different ways

In [ ]:
n = list(input())
result = len(set(n))
print(result)

1
1

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3

freq = {}

for i in test_list:
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1

result = []
for k in freq:
  if freq[k]>3:
      result.append(k)
print(result)

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
def strong(lst):
  for i in range(len(lst)-1):
    x = max(lst[i],lst[i+1])
    print(x)
strong([1,2,2,3,4,5])

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
def any (lst):
  for i in lst:
    for j in lst:
      for k in lst:
        if i != j and j != k and i != k:
                print(i, j, k)
any([1,2,3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
from itertools import permutations
list_1 =["a","b"]
list_2 = [1,2]

premut = permutations(list_2)
unqui_prem = []
for i in premut:
      combian = list(zip(list_1,i))
      unqui_prem.append(combian)
print(unqui_prem)

[[('a', 1), ('b', 2)], [('a', 2), ('b', 1)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
def rremove_occurrences(lst):
  return (set(lst))
rremove_occurrences([1,2,3,3])

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
list1 = [0,1,2]
list2 = ['g','h','i']
for i in range(len(list2)):
  list2[i] = list1[i]
print(list2)

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:

test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2

result = []


for record in test_list:
    count = 0
    for item in record:
        if item == K:
            count += 1
    if count == N:
        result.append(record)

print(result)

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:

array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]


sorted_col0 = sorted(array, key=lambda x: x[0])
print("Sorted array specific to column 0:", sorted_col0)


sorted_col1 = sorted(array, key=lambda x: x[1])
print("Sorted array specific to column 1:", sorted_col1)

sorted_col2 = sorted(array, key=lambda x: x[2])
print("Sorted array specific to column 2:", sorted_col2)

Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
def sort_dict(dict):
  return dict.sort()
sort_dict({'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32})

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
def dictot(dict,k):
  dicc = ""
  for key,values in dict.items():
  dicc[key] = values
  if values > k:
    dicc.pop(key)
  return dicc
dictot({"bashar":1,"ahemd":2,"ali":3})

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
d = {'bashar':1,'ahemd':2}
d2 ={'basharr':1,'ahemda':2}
d.update(d2)
print(d)

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
d = {'bashar':1,'ahemd':2}
for key,values in d.items():
  print(key,values)

**44- Write a Python script to merge two Python dictionaries

In [ ]:
d = {'bashar':1,'ahemd':2}
d2 ={'basharr':1,'ahemda':2}
d.update(d2)
print(d)

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
d = {'bashar':1,'ahemd':2}
result = d.values()
print(max(result))
print(min(result))

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
def dccc(dic):
  new_dic = {}
  for i in dic:
    if dic[i] != None:
      new_dic[i] = dic[i]
  return new_dic

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
def tup(num):
  return num[0]
tup((1,2,3,4))

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
xx = (1,2,3,4,5)
a,b,c,d,e = xx
print(a,b,c,d,e)

**49-Write a Python program to add an item to a tuple

In [ ]:
def add(tup,value):
  return tup + (value,)
add((1,2,3,4),5)

**50-Write a Python program to convert a tuple to a string

In [ ]:
def convert(tup):
  return str(tup)
convert((1,2,3,4))

**51-Write a Python program to convert a list to a tuple

In [ ]:
def convert(lst):
  return tuple(lst)
convert([1,2,3,4])

**52-Write a Python program to reverse a tuple

In [ ]:
def rev(tup):
  return tup[::-1]
rev((1,2,3,4))

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
def convert(string):
  return tuple(string)
convert("bashar")

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
f = (1,2,3,4)
result = f/4
print(result)

**56-Write a Python program to add member(s) to a set.

In [ ]:
sett = {1,2,3,4}
sett.add(5)
print(sett)

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
def remove_item(sett,value):
  new_set = {}
  for i in sett:
    if i == value:
      new_set.append(value)
  return new_set

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
set1 = {1,2,4,5}
set2 = {5,6,7}
print(set1 & set2)
print(set1 | set2)
print(set1-set2)
print(set1 & set2)

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
def minn(st):
  return min(st)
minn({1,2,3,4,5})

In [ ]:
def maxx(st):
  return max(st)
maxx({1,2,3,4,5})

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
# Input list and target sum
lst = [1, 5, 7, -1, 5]
target = 6

# To store the pairs
pairs = []

# Loop through all pairs using nested loops
for i in range(len(lst)):
    for j in range(i+1, len(lst)):
        if lst[i] + lst[j] == target:
            pairs.append((lst[i], lst[j]))

# Output result
print("Pairs with sum", target, "are:", pairs)