### 1-Write a Python program that takes two numbers as user input and performs addition on them.

In [ ]:
number1 = int(input("enter the first number "))
number2 =int( input("enter the second number "))
print(number1+number2)

enter the first number 10
enter the second number 20
30

### 2-Write a Python program that takes an integer as input and checks if it is even or odd. Print "Even" if the number is divisible by 2, otherwise print "Odd".

In [ ]:
number = int(input("enter your number"))
if number%2 == 0:
  print("Even")
else:
  print("Odd")

enter your number3
Odd

### 3-Write a Python program that prints all the even numbers from 1 to 20 using a for loop

In [ ]:
for i in range(1,20):
  if i%2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18

### 4-Write a Python function that takes a string as input and counts the number of vowels (a, e, i, o, u) in the string. The function should return the count

In [ ]:
def func(str,counts):
  for i in str:
    if i in counts:
     print(i)
func('bashaur',['a','e','i','o','u'])

a
a
u

### 5-Write a Python program that creates a list of numbers from 1 to 10. Use a loop to iterate over the list and print each number of power 2.

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in lst:
  print(i**2)

1
4
9
16
25
36
49
64
81
100

### 6-Write a Python program that calculates the average grade for a student based on their scores in different subjects. The program should include the following steps:

#### 1-Create variables to store the student's name, subject names, and corresponding scores. Initialize the variables with sample data.

#### 2-Prompt the user to enter the student's name and assign it to the name variable.

#### 3-Use a loop to prompt the user to enter the subject names and corresponding scores. Store the subject names in a list and the scores in another list.

#### 4-After collecting the scores, calculate the average grade by summing up all the scores and dividing by the total number of subjects.

#### 5-Check if the average grade is above a 70, print a congratulatory message. Otherwise, print an encouragement message.

### 7-Find Common Elements
### Write a Python function that takes two lists as input and returns a new list containing the common elements present in both lists.

In [ ]:
def commons(list1, list2):
    common = []
    for item in list1:
        if item in list2 and item not in common:
            common.append(item)
    return common
result = commons([1, 2, 3], [2, 3, 4])
print( result)

[2, 3]

In [ ]:
list3

### 8-Write a Python function that takes a list of numbers and an element to remove from the list.

In [ ]:
def removeElement(lst, el):
    if el in lst:
        lst.remove(el)
    return lst
print(removeElement([1, 2, 3, 4], 1))

[2, 3, 4]

### 9-Given 4 numbers A, B, C and D. Print the last 2 digits from their Multiplication.
### Example :
### the Multiplication of 4 numbers is 5 * 7 * 2 * 4 = 280 so the answer will be the last 2 digits which are 80.

In [ ]:
n1 = int(input())
n2 = int(input())
result = n1*n2
n = str(result)
r = n[-2:]
print(r)

2
345
90

### 10- Given a number X. Determine if the number is prime or not

### 11- Given a number N and a list A of N numbers. Determine if the number X exists in array A or not and print its position (0-index).

In [ ]:
numbers = [1, 2, 3]
x = int(input("Enter number to search for: "))

if x in numbers:
    indexx = numbers.index(x)
    print(indexx)
else:
    print("not found")

Enter number to search for: 3
2

### 12- Given a number N and a list A of N numbers. Determine if the array is lucky or not.

#### Note: the array is lucky if the frequency (number of occurrence) of the minimum element is odd.

### 13-Given a number N and a list A of N numbers. Print the array after doing the following operations:

#### Find minimum number in these numbers.
#### Find maximum number in these numbers.
##### Swap minimum number with maximum number.

In [ ]:
def swap_min_max(N, A):

    min_element = min(A)
    max_element = max(A)


    min_index = A.index(min_element)
    max_index = A.index(max_element)


    A[min_index], A[max_index] = A[max_index], A[min_index]


    print(" ".join(map(str, A)))

N = int(input())
A = list(map(int, input().split()))
swap_min_max(N, A)

3
123
123

In [ ]:
maximum

### 14-Given a number N and an array A of N numbers. Print the lowest number and its position.

### Note: if there are more than one answer print first one's position.

### 15-Given a number N and an array A of N numbers. Print the numbers after sorting them

### 16- Write a Python program to remove spaces from a given string

In [ ]:
def remove_spaces(input_string):

    return input_string.replace(" ", "")


text = input()
no_spaces = remove_spaces(text)

print(no_spaces)

bAS H
bASH

### 17-write a Python program to swap first and last element of any list.

In [ ]:
def swap_first_last(lst):

    lst[0], lst[-1] = lst[-1], lst[0]
    return lst


my_list = [1, 2, 3, 4, 5]
print( my_list)

swapped_list = swap_first_last(my_list)
print(swapped_list)

[1, 2, 3, 4, 5]
[5, 2, 3, 4, 1]

# **Write a Python Program to Find HCF.**
## Highest Common Factor(HCF): HCF, or Highest Common Factor, is the largest positive integer that divides two or more numbers without leaving a remainder. Formula: For two numbers a and b, the HCF can be found using the formula:

** HCF(ùëé, ùëè) = GCD(ùëé, ùëè)**
For more than two numbers, you can find the HCF by taking the GCD of pairs of numbers at a time until you reach the last pair.

# **Note: GCD stands for Greatest Common Divisor, use function.**