## **1- Write a Python program to find the area of a triangle**

In [ ]:
height = int(input("please enter the height "))
base = int(input("please enter the base "))
result  = 0.5*height*base
print(f"The area of triangle is {result}")

# **2- Write a Python program to swap two variables.**

In [ ]:
x,y = 1,5
x,y = y,x

print(x)
print(y)

# **3-Write a Python program to enter a number from user and convert this number from kilometers to miles.**

In [ ]:
kilo = float(input("please enter kilometers "))

result = kilo*0.621371
print(f"kilometers is equall to {result} miles")